.box {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 630px;
    border: 1px solid antiquewhite ;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(250, 235, 215, 0.5);
    overflow: scroll;

    
}